@using Koltseg.ViewModels
@using System.Collections.Generic

@model List<Koltsegvetes>


<div>
    @Html.ActionLink("Új tétel felvitele", "UjFelvitel", "Home",null, new { @class = "btn btn-default" })
  
</div>


<table class="table">
    <thead>
        <tr>
            <th>Tétel Név</th>
            <th>Kategória Név</th>
            <th>Bevétel</th>
            <th>Kiadás</th>
            <th>Dátum</th>
        </tr>
    </thead>

    <tbody>
        @{ int osszbevetel = 0;}
        @{ int osszkiadas = 0;}
        @foreach (var t in Model)
        {
            <tr>
                <td>@t.TetelNev</td>
                <td>@t.KategoriaNev</td>
                @if (t.IsBevetel)
                {
                    <td>@t.Value</td>
                            <td></td>
                    osszbevetel = osszbevetel + t.Value;
                }
                else
                {
                    <td></td>
                    <td>@t.Value</td>
                    osszkiadas = osszkiadas + t.Value;
                }
                <td>@t.Datum</td>
            </tr>
        }
        <tr>
            <td>Összesen</td>
            <td>@osszbevetel</td>
            <td>@osszkiadas</td>
        </tr>
    </tbody>
</table>

